.container{
  padding-top: 40px;
  width: 100%;
  height: 700px;
}

/*features CSS*/
.heading{
  text-align: center;
}
.featureHead{
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.featureData{
  font-weight: 400;
  font-size: 12px;
  opacity: 0.5;
}
.featureImg{
  text-align: center;
}
.disabledBtn{
  color: #5175DA;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  background-color: white;
  border: 2px solid;
  border-radius: 30px;
  padding: 10px 25px;
}

/*Header CSS*/
.headerDiv{
  background-color: #5175DA;
}
.style1{
  color: white;
  font-size: 25px;
  line-height: 3;
  font-weight: 700;
}

.style2{
  color: white;
  font-size: 16px;
  line-height: 5;
  font-weight: 500;
}

.selectedBtn{
  color: #5175DA;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  background-color: white;
  border: 2px solid;
  border-radius: 30px;
  width: 150px;
  height: 50px;
}

.disabledBtn{
  color: white;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  background-color: #5175DA;
  border: 2px solid;
  border-radius: 30px;
  width: 150px;
  height: 50px;
}

.headerText{
  font-size: 30px;
  color: white;
  padding-top: 160px;
}

.headerImg{
  float: right;
  width: 450px;
  height: 450px;
}

/*Team css*/
.teamDiv{
  background: #95a6c2;
}
.teamMemberProfile{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.teamMemberData{
  font-size: 16px;
  font-weight: 600;
  opacity: .5;
}
.teamMemberName, .teamMemberPosition{
  padding: 0px !important;
  margin: 0px !important;
}
.profile{
  background: white;
  padding: 15px;
}
.teamHeading{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/*Slider CSS*/
.sliderHeading{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.sliderData{
  font-size: 18px;
  font-weight: 600;
  opacity: .5;
}
.sliderImg{
  width: 450px;
  height: 450px;
}

.carousel-item {
    height: 350px;
}

.carousel-indicators li {
    height: auto;
    text-indent: unset;
    width: 100%;
    text-align: center;
}

.carousel-indicators {
    bottom: -100px;
    margin: 0px;
}

.carousel-indicators .active{
  border-bottom: 3px solid blue !important;
}

.seeMoreBtn{
  color: white;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  background-color: #5175DA;
  border: 2px solid;
  border-radius: 30px;
  width: 250px;
  height: 50px;
}

.sliderDiv{
  padding-bottom: 100px;
}